button, .button {
    font-size: 20px;
    border: 1pt groove #663333;
    background-color: lavender;
}

.option-container {
    width: 200px; height: 200;
    box-sizing: content-box !important;
    box-shadow: 4px 2px grey;
    border: 2px solid black;
    margin-left: 10px;
    float: left;
    align-content: center;
    background-color: white;
}

.option-container:hover {
    box-shadow: 4px 2px darkslategray;
    border: 2px solid black;
}

.option-container .option-checkbox {
    display:none;
}

.option-container .option-number {
    position: relative;
    height: 20px; width: 200px;
}

.option-container .option-image {
    position: relative;
    width: 100px; height: 100px;
    margin-left: 50px; margin-right: 50px;
    overflow: hidden;
    align-self: center;
}
.option-container .option-label {
    position: relative;
    width: 200px; height: 70px;
    overflow: hidden;
    font-size: 10pt; font-weight: bold;
    text-align: center;
}

#login label {
    display: inline-block; 
    width: 100px; 
    text-align: right;
}

table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

th {
    background-color: lavender;
}